div.stock{
    height: 90px;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
div.stock:hover{
    background-color:lightblue;
}

.icon:hover{
    background-color: lightblue;
}


div.headerGroup {
    
    border-bottom: 3px solid;
    border-color: black;
    background-color: white;
}

div.addStock{
    align-content: center;
    margin-left: 93%;
    padding-top: 10px;
}

div.subHeader{
    width: 100%;
    align-items: center;
    align-content: center;
}
div.gearDiv{
    left: 80%;
    position: absolute;
}

.price{
    padding-top: 20px;
}

h4{
    text-decoration: underline;
}
div.refresh{
    position: absolute;
    left: 77%;
}

div.home{
    position: absolute;
    left: 75%;
}