<!DOCTYPE html>
<html>
<head>
	<title>Notice Me!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="js/login.js"></script>
	<!--<script src="js/bootstrap.js"></script>-->

	<link href="css/css.css" rel="stylesheet">
	<!--<link href="css/bootstrap.css" rel="stylesheet">-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">




</head>
<body>
<div data-role="page" style = "text-align: center">
		   <div id="mainHeading">
			 <h1>Notice Me!</h1>
		   </div>

		   <div style ="margin: 2em" >
			   <form action="/home" method="GET">
		     <div class="form-group">
		       <label for="exampleInputEmail1">Enter Email address</label>
		       <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="agb@alexanderbiz.com" aria-describedby="emailHelp" placeholder="Enter email" required>
		   	</div>
		     <div class="form-group">
		       <label for="exampleInputPassword1">Enter Password</label>
		       <input type="password" name="password" value="1234" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
		     </div>
			 <div class="row"></div>
			 <div class="row">
			 
				<div class="col-sm"></div>
				<div class="col-sm">
						<button type="submit" class="btn btn-secondary" name="submit" value="createAcct" 
                        onclick="window.location.href='/home'"> Create Account</button>
				</div>
				<div class="col-sm"></div>
			 
			 </div>
			 </form>
		   </div>
			
		</div>
</body>
</html>