<!doctype html>

<html>
<head>
	<title>Notice Me!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!--<script src="js/bootstrap.js"></script>-->

	<link href="css/css.css" rel="stylesheet">


	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />	<!--<link href="css/bootstrap.css" rel="stylesheet">-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">




</head>

<body>
	<div id="main">
		<div data-role="page" id="homePage" style = "text-align: center">
		   <div id="mainHeading">
			 <h1>Notice Me!</h1>
		   </div>

		   <div style ="margin: 2em" >
		     <div class="form-group" >
		       <label for="exampleInputEmail1">Email address</label>
		       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		   	</div>
		     <div class="form-group">
		       <label for="exampleInputPassword1">Password</label>
		       <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		     </div>
		     <button type="submit" class="btn btn-primary" onclick="window.location.href = '#home'">Submit</button>
		   </div>

		</div>
		<div data-role="page" id="home">
			<div data-role="navbar">
				  <ul>
					  <li><span class="navbar-brand">Notice Me</span></li>
					  <li></li>
					  <li></li>
					  <li></li>
					  <li>
						  <button type="button" class="btn btn-default btn-lg" onclick="window.location.href = '#settings'" >
							  <img src="open-iconic/svg/cog.svg" alt="icon name" style ="height:1em">
						  </button>
					  </li>
				  </ul>
			  </div>

			{{#each stocks}}
			<div class="container stock" id="home">
			  <div class="row">
			    <div class="col">
			      {{symbol}}
			    </div>
			    <div class="col">
			      {{price}}
			    </div>
			    <div class="col">
			      {{changePercent}}
			    </div>
			  </div>
			</div>
			{{/each}}

			<a href="#addStock" class="float">
			    <img class = "my-float" src="open-iconic/svg/plus.svg" alt="icon name">
			</a>
		</div>

		<div data-role="page" id="addStock">
		  <div data-role="navbar">
				<ul>
					<li><span class="navbar-brand">Notice Me</span></li>
					<li></li>
					<li></li>
					<li></li>
					<li>
					  <button type="button" onclick="window.location.href = '#home'">
		  			    <span> <img src="open-iconic/svg/arrow-left.svg" alt="icon name" style ="height:1em"> </span>
		  			  </button>
					</li>
				</ul>
			</div>

			<div style = "margin:2em">
				<div class="form-group" >
				  <label for="exampleInputEmail1">Enter Stock</label>
				  <input  class="form-control" aria-describedby="emailHelp" placeholder="Stock Name">
			   </div>

			   <div style = "margin-top:2em"> <h4>Your stocks <h4></div>
				 <hr>
				{{#each stocks}}
				 <div>
					  {{symbol}}
				 </div>
				{{/each}}
			</div>
		</div>


		<div data-role="page" id="settings">
			<div data-role="navbar">
  				<ul>
  					<li><span class="navbar-brand">Notice Me</span></li>
  					<li></li>
  					<li></li>
  					<li></li>
  					<li>
  					  <button type="button" onclick="window.location.href = '#home'">
  		  			    <span> <img src="open-iconic/svg/arrow-left.svg" alt="icon name" style ="height:1em"> </span>
  		  			  </button>
  					</li>
  				</ul>
  			</div>


			<div style = "margin:2em">
				<div class="form-group" >
				  <label>Percent Increase Notification</label>
				  <input class="form-control" aria-describedby="emailHelp" placeholder="Percentage">

				  <label>Percent Decrease Notification</label>
				  <input class="form-control" aria-describedby="emailHelp" placeholder="Percentage">
			   </div>
		</div>
	</div>
</body>
</html>
