<!DOCTYPE html>
<title>Notice Me!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="js/login.js"></script>
	<!--<script src="js/bootstrap.js"></script>-->

	<link href="css/css.css" rel="stylesheet">
	<!--<link href="css/bootstrap.css" rel="stylesheet">-->

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script type="text/javascript" src="js/settingsUtil.js"></script>
	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-158823032-2', 'auto');
		ga('require', 'GTM-THC7KX4');
		ga('send', 'pageview');
	</script>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<head>

</head>
<body>
     <div data-role="page" id="settings">
		 <nav>
			 <div class="nav-wrapper">
				   <div class="brand-logo left" style = "margin-left:1em">Notice Me</div>
					   <ul id="nav-mobile" class="right">
						   <li>
							 <div  onclick="window.location.href = '/home'">  <a class="btn-flat"><i class="large material-icons">arrow_back</i></a></div>
						   <li>
					   </ul>
				   </ul>
			   </div>
		 </nav>

			<div style="margin:2em">
				<div class="form-group" >
                    <label id="pctIncreaseLabel">Current Percent Increase: {{up}}</label>
				  <label>Percent Increase Notification</label>
				  <input type="number" id="upPercent" class="form-control" aria-describedby="emailHelp" name="percentUp" value="" placeholder="Enter Value between 0 - 100" required>
                    <label id="pctDecreaseLabel">Current Percent Down: {{down}}</label>
				  <label>Percent Decrease Notification</label>
				  <input type="number" id="downPercent" class="form-control" aria-describedby="emailHelp" name="percentDown" value=""placeholder="Enter Value between 0 - 100" required>
				  <button  onclick="changePcts()" id="changePercentBtn" class="btn btn-primary"  name="submit" value="settings">Submit</button>
			   </div>
		    </div>
		<form action="/logout" method="GET">
		<button type="submit" value="logout" name="submit" class="btn btn-primary" style = "position:absolute; bottom:2em; background-color:#ff4141; color:white"
		 onclick="window.location.href = '/login'">Log Out</button>

		</form>
</body>
