
.stock:hover{
	background-color: #03adfc;
	
}
.row{
    vertical-align: middle;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #03adfc;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
    height:1em;
	margin-top:22px;
}

.navbutton{
	background-color: #03adfc;
}

.myNav{
	border-bottom: 1px solid black;
	margin-bottom: 10px
}

.title{
	color: #03adfc;
	font-size: 30px;
}